body {
    position: absolute;
    left: 0;
}

#first-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    left: 0;
    right: 0;
    width: 100%;
}


#icon {
    width: 3rem;
    margin-left: 2.4rem;
}

#icon img {
    height: 3rem;
    transition: 2.3s;
}

#icon img:hover {
    transform: scale(1.7);
}

#nav nav {
    display: flex;
    align-items: center;
    position: relative;
    right: 5.5rem;
}

#nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    position: relative;
    left: 20rem;
}

#nav ul li {
    font-family: 'Cute Font', cursive;
    margin: 1rem 2rem;
    font-size: 1.3rem;
    transition: 1s;
}

#nav nav li:hover {
    background-color: rgb(182, 189, 189);
    padding: 2px 3px;
    cursor: pointer;
    transform: scale(1.3);
    border-radius: 6px;
}

#get-app {
    position: relative;
    right: -30rem;
    width: 6.2rem;
    margin: 0 1.5rem;
    transition: 3s;
}

#get-app p {
    background-color: black;
    width: 100%;
    color: white;
    letter-spacing: 0.4rem;
    padding: 0.5rem 1rem;
    transition: 1s;
}

#get-app:hover {
    cursor: pointer;
    transform: scale(1.5);
}

#section-1 {
    margin: 4rem 2.4rem;
    width: 100%;
}

.paragraph-1 {
    font-size: 1.4rem;
    font-family: 'Chathura', sans-serif;
    font-weight: 800;
}

.paragraph-2 {
    font-size: 03rem;
    margin-top: -1rem;
    font-family: 'Charmonman', cursive;
}

.paragraph-3 {
    font-size: 1.2rem;
    margin-top: -3rem;
    font-family: 'Alumni Sans', sans-serif;
    font-weight: 600;
}

#section-2 {
    display: flex;
    align-items: center;
}

#input input {
    width: 13.4rem;
    height: 1rem;
    padding: 1rem;
    border: 2px solid black;
    transition: 1s;
}

#input input:hover {
    transform: scale(1.1);
}

.input-color {
    color: darkred;
}

.firstinput {
    background-color: darkred;
}

#chars-count {
    margin: 0 1rem;
}

#get-started {
    margin: 0 2.5rem;
}

#get-started button {
    background-color: rgb(8, 8, 153);

    width: 8rem;
    height: 3rem;
    padding: 0.1rem 1rem;
    color: white;
    border: 1px solid rgb(8, 8, 153);
}

#get-started button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

footer {
    width: 100%;
}

footer a {
    color: black;
    color: inherit;
    display: inline;
    font-size: 1.3rem;
    margin: 4rem 2.4rem;
    text-decoration: none;
    font-family: 'Fuzzy Bubbles', cursive;
    transition: 1s;
}

footer a:hover {
    color: blue;
}

footer img {
    position: relative;
    right: -20rem;
    float: right;
    margin-top: -34rem;
    height: 35.2rem;
    transition: 3s;
}

footer img:hover {
    transform: scale(1.2);
}



@media (max-width: 768px) {
    body {
        width: 100%;
        position: relative;
        top: 0rem;
    }

    #first-flex {
        align-items: unset;
    }

    .flex {
        align-items: center;
    }

    #icon {
        margin: 0 1rem;
        position: relative;
        left: -0.5rem;
    }

    #nav nav {
        align-items: unset;
        display: none;
    }

    ul {
        display: none;
        position: relative;
        left: -2.5rem;
        width: 100%;
        margin-top: 2.4rem;
    }

    nav li {
        font-size: 1rem;
        margin: 0 1rem;
        padding: 0.1rem;
        width: 100%;

    }

    #get-app {
        position: relative;
        right: 2rem;
        top: -0.4rem;
        width: 1.8rem;
        height: 100%;
    }

    #get-app p {
        height: 100%;
        font-size: 0.5rem;
        letter-spacing: 0;
        padding: 0.9rem;
    }

    #section-1 {
        margin-top: 13rem;
        position: relative;
        left: -2rem;
    }

    .paragraph-1 {
        font-size: 1.1rem;
        margin-top: -7.1rem;
    }

    .paragraph-2 {
        font-size: 1.7rem;
        margin-top: -1.5rem;
        width: 9rem;
    }

    .paragraph-3 {
        font-size: 1rem;
        margin-top: -0.7rem;
    }

    br {
        display: none;
    }

    #input input {
        width: 10.9rem;
        height: 1rem;
        padding: 0.2rem 1rem;
        padding-right: 0.1rem;
    }

    #get-started {
        position: relative;
        right: 2.8rem;
        width: 100%;
    }

    #get-started button {
        height: 1.5rem;
        font-size: 0.6rem;
        padding: 0.3rem 0.1rem;
    }

    footer {
        display: flex;
    }

    footer a {
        position: relative;
        left: 3rem;
        font-size: 0.5rem;
        margin: 1.5rem 1.9rem;
    }

    footer img {
        height: 18rem;
        float: right;
        margin-top: -28rem;
        position: relative;
        right: 5rem;
    }
}